/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;
  --vt-c-white-grey: #efefef;

  --vt-c-black: #1e1e1e;
  --vt-c-black-soft: #2c2c2c;

  --vt-c-orange: #f50;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-mute: var(--vt-c-white-grey);



  --color-text-black: var(--vt-c-black);
  --color-text-white: var(--vt-c-white);
  --color-kodalib: var(--vt-c-orange);

  --color-nav-button: var(--vt-c-white-grey);

  --section-gap: 160px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Ubuntu, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Inter,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main{
  min-height: 100vh;
}
